<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 수신입금계좌정보 -->
<mapper namespace="com.lab603.record.web.mapper.comtn.serverInfo.ServerInfoMapper">

	<sql id="addWhere">
		AND USE_AT = 'Y'
	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myMap">
		SELECT
			 seq
			,ip
		FROM
			 comtn_server_info T1
		WHERE 1=1
			AND `use` = 'Y'
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >

	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">

	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
	</update>

</mapper>
