<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 수신입금계좌정보 -->
<mapper namespace="com.lab603.record.web.mapper.login.LoginHistoryMapper">

	<sql id="addWhere">

	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			COMTN_LOGINLOG
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 LOGINID 							as loginid			<!-- 로그인이력ID -->
			,MBER_ID 							as mberId			<!-- 접속시도ID -->
			,IPADDR 							as ipaddr			<!-- 접속시도IP -->
			,LOGINRTN 							as loginrtn			<!-- 로그인성공여부 -->
			,REASON 							as reason			<!-- 로그인실패사유 -->
			,CREATETIME 						as createtime		<!-- 생성일 -->
		FROM
			 COMTN_LOGINLOG T1
		WHERE 1=1
			<include refid="addWhere"/>
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 LOGINID 							as loginid			<!-- 로그인이력ID -->
			,MBER_ID 							as mberId			<!-- 접속시도ID -->
			,IPADDR 							as ipaddr			<!-- 접속시도IP -->
			,LOGINRTN 							as loginrtn			<!-- 로그인성공여부 -->
			,REASON 							as reason			<!-- 로그인실패사유 -->
			,CREATETIME 						as createtime		<!-- 생성일 -->
		FROM
			 COMTN_LOGINLOG T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>


	<!-- 추가 -->
	<insert id="RegisterDataFirst" parameterType="myMap" keyProperty="LOGINID" useGeneratedKeys="true">
		INSERT INTO COMTN_LOGINLOG
			(
			  CREATETIME			<!-- 생성일 -->
			)
			 VALUES
			(
			  NOW()					<!-- 생성일 -->
			)
	</insert>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO COMTN_LOGINLOG
			(
			   MBER_ID				<!-- 접속시도ID -->
			  ,IPADDR				<!-- 접속시도IP -->
			  ,LOGINRTN				<!-- 로그인성공여부 -->
			  ,REASON				<!-- 로그인실패사유 -->
			  ,CREATETIME			<!-- 생성일 -->
			)
			 VALUES
			(
			   #{mberId}				<!-- 접속시도ID -->
			  ,#{ipaddr}				<!-- 접속시도IP -->
			  ,#{loginrtn}				<!-- 로그인성공여부 -->
			  ,#{reason}				<!-- 로그인실패사유 -->
			  ,NOW()					<!-- 생성일 -->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE COMTN_LOGINLOG
			 SET
			 IPADDR 		= #{ipaddr}
			<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(mberId)">      ,MBER_ID 		= #{mberId}   			</if>  <!-- 접속시도ID -->
			<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(loginrtn)">    ,LOGINRTN 	= #{loginrtn} 			</if>  <!-- 로그인성공여부 -->
			<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(reason)">      ,REASON 		= #{reason} 			</if>  <!-- 로그인실패사유 -->
		WHERE LOGINID = #{loginid}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM COMTN_LOGINLOG WHERE LOGINID = #{loginid}
	</update>

</mapper>
