<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab603.record.web.mapper.maketts.MakeTTSMapper">

	<sql id="addWhere">
		<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(seq)">
			AND SEQ 	=  #{seq}
		</if>
		<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(name)">
			AND NAME 	=  #{name}
		</if>
		<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(ttsMent)">
			AND TTS_MENT LIKE CONCAT('%',#{ttsMent},'%')
		</if>
		<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(sDate)">
			AND DATE_FORMAT(T1.CREATETIME, '%Y-%m-%d') BETWEEN #{sDate} AND #{eDate}
		</if>
	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
				 management_tts_wav T1
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 T1.SEQ 														as seq	 			<!--seq-->
			,T1.NAME 														as name	 			<!--파일이름-->
			,T1.TITLE 														as title	 		<!--파일이름-->
			,T1.TTS_MENT 													as ttsMent	 		<!-- tts멘트 -->
			,T1.WEB_LINK 													as webLink	 		<!-- 실행경로-->
			,T1.IVR_ALL_PATH 												as ivrPath	 		<!-- 실제파일위치 -->
			,T1.CALL_TTS_WAV 												as callTTSWav	 	<!-- 접근가능경로 -->
			,T1.FILESIZE 		                                       	 	as filesize 		<!--파일사이즈-->
			,DATE_FORMAT(T1.CREATETIME, '%Y-%m-%d %H:%i:%s') 			   	as createtime 		<!--등록일-->
		FROM
			management_tts_wav T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY T1.CREATETIME DESC
		LIMIT #{start}, #{end}
	</select>
	
	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 T1.SEQ 														as seq	 			<!--seq-->
			,T1.NAME 														as name	 			<!--파일이름-->
			,T1.TITLE 														as title	 		<!--파일이름-->
			,T1.TTS_MENT 													as ttsMent	 		<!-- tts멘트 -->
			,T1.WEB_LINK 													as webLink	 		<!-- 실행경로-->
			,T1.IVR_ALL_PATH 												as ivrPath	 		<!-- 실제파일위치 -->
			,T1.CALL_TTS_WAV 												as callTTSWav	 	<!-- 접근가능경로 -->
			,T1.FILESIZE 		                                       	 	as filesize 		<!--파일사이즈-->
			,DATE_FORMAT(T1.CREATETIME, '%Y-%m-%d %H:%i:%s') 			   	as createtime 		<!--등록일-->
		FROM
			management_tts_wav T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
			INSERT INTO management_tts_wav
		(
			 SEQ							<!-- SEQ		-->
			,TTS_MENT 						<!-- tts멘트  	-->
			,TITLE 							<!-- tts타이틀  	-->
			,WEB_LINK 						<!-- 실행경로   	-->
			,IVR_ALL_PATH 					<!-- 실제파일위치  	-->
			,CALL_TTS_WAV 					<!-- 접근가능경로	-->
			,CREATETIME					 	<!-- 등록일 	-->
		)
		 VALUES
		(
			 #{seq}					<!--seq 	-->
			,#{ttsMent}				<!--tts멘트  	-->
			,#{ttsTitle}			<!--tts타이틀  -->
			,#{webLink}				<!--실행경로  	-->
			,#{ivrPath}				<!--실제파일위치  -->
			,#{callTTSWav}			<!--접근가능경로  -->
			,now()					<!--등록일 -->
		)

	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE management_tts_wav 
			SET 
				CREATETIME = NOW()
				<if test="@com.lab603.record.web.framework.config.mybatis.Utily@isNotEmpty(ttsMent)">		, TTS_MENT 				= #{ttsMent} </if>
			WHERE	SEQ = #{seq}
	</update>
	
	<update id="ModifyMainData" parameterType="myMap">
		UPDATE management_tts_wav 
			SET 
				CREATETIME = NOW()
			WHERE	SEQ = #{seq}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM management_tts_wav WHERE SEQ = #{seq}
	</update>

</mapper>
